<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Drive</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @if (Drive.Security.SessionManager.IsValidUser)
    {
        <script>
            var global = this;
            var userId = @Drive.Security.SessionManager.User.Id;
            var currentFolderId = -1;
        </script>
    }

</head>
<body>
    <div class="mdl-layout @(!Drive.Security.SessionManager.IsValidUser ? "mdl-layout-for-login" : "") mdl-js-layout mdl-layout--no-desktop-drawer-button">
        @if (Drive.Security.SessionManager.IsValidUser)
        {
            <header class="mdl-layout__header">
                <div class="mdl-layout-icon"></div>
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">Drive</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        <button id="menu1" class="mdl-button mdl-js-button">
                            <i class="material-icons">perm_identity</i> @Drive.Security.SessionManager.User.Name
                        </button>
                    </nav>
                </div>
            </header>
            <ul class="mdl-menu mdl-js-menu" for="menu1">
                <li class="mdl-menu__item">@Html.ActionLink("Logout", "Logout", "User", new { area = "" }, new { @class = "mdl-navigation__link", @style= "display:inline-block;width:100%;height:100%;"})</li>
            </ul>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout__title">Drive</span>
                <nav class="mdl-navigation">
                    @Html.ActionLink("Logout", "Logout", "User", new { area = "" }, new { @class = "mdl-navigation__link" })
                </nav>
            </div>
        }

        <main class="mdl-layout__content @(!Drive.Security.SessionManager.IsValidUser ? "mdl-layout-for-login__content" : "")">
            @RenderBody()
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/drive")
    @Scripts.Render("~/bundles/material")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/dialog-polyfill")

    @RenderSection("scripts", required: false)
</body>
</html>
