@using Drive.Security;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Hello @SessionManager.User.Name</h3>

<h4>Folders</h4>

<div id="breadcrumbs">
    <span class="breadcrumb-item" folder-id="-1">Home</span>
</div>

<div id="folders"></div>

<h4>Files</h4>

@{
    if (ViewBag.files != null)
    {
        foreach (var file in ViewBag.files)
        {
            <div style="border: 5px solid black;">
                ID: @file.Id <br />
                Name: @file.Name <br />
                UploadedOn: @file.UploadedOn <br />
                Size: @file.FileSizeInKB <br />
                Extension: @file.FileExt <br />
            </div>
        }
    }
    else
    {
        <span style="color: red">NO FILES</span><br />
    }
}

@section scripts {
    @Scripts.Render("~/bundles/uglipop")

    <script>

        //Load folders on page load
        $(document).ready(function () {
            Folder.getFoldersFromServer();
        });

        //prompt to add new folder
        var promptNewFolder = function () {
            uglipop({ class: 'prompt', source: 'div', content: 'add-new-folder-popup' });
        }

        //prompt to add new file
        var promptNewFile = function () {
            uglipop({ class: 'prompt', source: 'div', content: 'add-new-file-popup' });
        }

        $("button[name=new-folder]").click(function () { promptNewFolder(); });
        $("button[name=new-file]").click(function () { promptNewFile(); });

        //Register click event to go to a folder
        $(document).on("dblclick", ".folder", function () {
            currentFolderId = $(this).attr("folder-id");
            var name = $(this).attr("folder-name");

            var bc = $("#breadcrumbs");

            bc.append($("<span>").text(" > " + name).addClass("breadcrumb-item").attr("folder-id", currentFolderId));
            
            Folder.getFoldersFromServer();
        });

        $(document).on("click", ".breadcrumb-item", function () {
            currentFolderId = $(this).attr("folder-id");

            var items = $("#breadcrumbs .breadcrumb-item");

            for (var i = items.length -1 ; i > -1; i--)
            {
                var item = $(items[i]);
                var id = item.attr("folder-id");

                if (id == currentFolderId)
                    break;
                
                //$(items).remove($(item));
                $(item).remove();
            }

            Folder.getFoldersFromServer();
        });

    </script>

    <div id="add-new-folder-popup" style="display:none;">
        <h5>New Folder</h5>
        Name: <input type="text" id="new-folder-name" required autofocus />
        <button onclick="Folder.addNewFolder();">Add</button>
        <button onclick="remove();">Cancel</button>
    </div>

    <div id="add-new-file-popup" style="display:none;">
        <h5>New File</h5>
        File: <input type="file" id="new-file-name" required autofocus />
        <button onclick="File.uploadFile();">Add</button>
        <button onclick="remove();">Cancel</button>
    </div>
}

