@using Drive.Security;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Hello @SessionManager.User.Name</h3>

<h4>Folders</h4>

<div id="folders">

</div>
@*@{
    if (ViewBag.folders != null)
    {
        foreach (var folder in ViewBag.folders)
        {
            <div style="border: 5px solid black; clear: both">
                ID: @folder.Id <br />
                Name: @folder.Name <br />
                CreatedOn: @folder.CreatedOn <br />
            </div>
        }
    }
    else
    {
        <span style="color: red">NO FOLDERS</span><br />
    }

}*@

<h4>Files</h4>

@{
    if (ViewBag.files != null)
    {
        foreach (var file in ViewBag.files)
        {
            <div style="border: 5px solid black;">
                ID: @file.Id <br />
                Name: @file.Name <br />
                UploadedOn: @file.UploadedOn <br />
                Size: @file.FileSizeInKB <br />
                Extension: @file.FileExt <br />
            </div>
        }
    }
    else
    {
        <span style="color: red">NO FILES</span><br />
    }
}

@section scripts {
    <script>
        $(document).ready(function () {
            get_folders_from_server();
        });
    </script>

    @Scripts.Render("~/bundles/uglipop")

    <script>
        var prompt_new_folder = function () {
            uglipop({ class: 'prompt', source: 'div', content: 'add-new-folder-popup' });
        }

        $("button[name=new-folder]").click(function () { prompt_new_folder(); });
    </script>

    <div id="add-new-folder-popup" style="display:none;">
        <form>
            <h5>New Folder</h5>
            Name: <input type="text" id="new-folder-name" />
            <button onclick="add_new_folder();">Add New Folder</button>
            <button onclick="remove();">Cancel</button>
        </form>
    </div>

    <script>
        var add_new_folder = function () {
            var name = $(".prompt input[id=new-folder-name]").val();
            alert("Name: " + name);
        };
    </script>
}

